.main-section {
  border: 1px solid #dc3500;
  background: #fff;
}

.profile-header {
  background: #dc3545;
  height: 120px;
}

.user-detail {
  margin: -50px 0 30px 0;
}

img {
  height: 150px;
  width: 150px;
}

.user-details h5 {
  margin: 15px 0 5px 0;
}
