<section id="profile" class="container profile-sidebar">
  <div class="row mt-5">
    <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
      </div>
      <div class="row user-details">
        <div class="col-12">
         
          <img src="{{user.photo}}" class="rounded-circle img-thumbnail" alt="{{user.skills}}">
          <h5>{{user.name}}</h5>
          <p>
            <span style="font-weight:bold;font-size:20px;">{{user.username}}</span><br>
            {{user.email}}
          </p>
            
          <hr>
          <span>{{user.skills}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
