<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
              <form [formGroup]="lostPasswordForm" (ngSubmit)="onSubmit()">
                <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">Lost password</h1>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  <b>Something is wrong!</b>
                  <p>{{ errorMessage }}</p>
                </div>
                <div class="form-group">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email"
                    formControlName="email">
                </div>
                <button type="submit" class="btn btn-lg btn-danger btn-block"
                  [disabled]="lostPasswordForm.invalid">Recorver</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
